# VOICEBOT プロジェクト専用
config/.env
audio/*.wav
config/authToken.json

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Logs
# ログファイルをすべて無視
logs/
audio/logs/
*.log

# dotenv
.env.*

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode Python extension
.python-version
